@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.tiptap > * + * {
  @apply mt-3;
}

.tiptap ul,
.tiptap ol {
  @apply pl-4;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4 {
  @apply leading-tight;
}

.tiptap pre {
  @apply m-3 box-border rounded-lg bg-black p-3 text-white;
}

.tiptap pre code {
  @apply bg-black font-mono text-[0.8rem] text-white;
}

.tiptap code {
  @apply box-border rounded-md bg-orange-200 px-2 text-red-500;
}

.tiptap blockquote {
  @apply border-l-4 border-gray-500 pl-[1rem];
}

@layer components {
  .bg-default {
    @apply bg-main-200 h-full w-full rounded-3xl;
  }
}
